<!DOCTYPE html>
<head>
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">

		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<style>
</style>
<div id="container">
	<header>
			<h1><span>Foundation</span>Reviews</h1>
			<h3>An community for foundations.</h3>
	</header>
	<div id="content">
		{{{ body }}}
	</div>
</div>
</body>
</html>