

<form method="GET" action="">
Your Skin Type:<input type ="string" name="SuitableSkin">
<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">search</button>
</form>

<table>
  <tr>
    <th>Brand</th>
    <th>Foundation Name</th>
    <th>Suitable Skin Type</th>
  </tr>
{{#each foundations as |foundation|}}
<tr>
  <td>{{foundation.brand}}</td>
  <td>{{foundation.FoundationName}}</td>
  <td>{{foundation.SuitableSkin}}</td>

</tr>
{{/each}}
</table>
<br></br>
<p>Add the New Foundation to Our Lookbook</p>
<form method="POST" action="/list">
  Brand:<input type ="string" name="brand"><br>
  Name: <input type ="string" name="FoundationName"><br>
  Suitable Skin Type:<input type ="string" name="SuitableSkin"><br>
<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>